<phpunit bootstrap="src/PG/JsonRpc/tests/bootstrap.php">
    <testsuite name="jsonrpc">
        <directory>./src/PG/JsonRpc/tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/PG/JsonRpc/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>